<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Void Uploader</title>
</head>
<body>
    <!-- header -->
    <%- include('components/header', { user: locals.user}) %>

    <section>
        <h1>Void Uploader</h1>
    </section>

    <!-- footer -->
    <%- include('components/footer') %>
</body>
</html>